h1 {
    font-family: 'Fantasy', cursive;
    color: purple;
}

ul {
    list-style-type: none;
}

ol {
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red;
    color: blue;
    background-color: lightpink;
}

img {
    height: 200px;
}

body {
    font-family: sans-serif;
}

h3 {
    text-decoration: underline;
}